*{
    margin: auto;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.icons{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 64.27%;
    right: 20.93%;
    top: 4.13%;
    bottom: 92.66%;
}

.icons a{
    text-decoration: none;
    padding-left: 10px;   
    color: black; 
}

.icons .fa{
    font-size: 20px;
}

body h1{
    margin-top: 35px;
    margin-left: 30px;
}

body p{
    margin-top: 30px;
    margin-left: 30px;
}

body h1 span{
    color: #199a8e;
}

.search{
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 30px;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 32px;
}

.search input{
    border: none;
    width: 310px;
    justify-content: center;
    height: 30px;
}

.search .fa{
    padding-left: 2%;
    font-size: 14px;
}

.content-cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
}

.icons-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px; /* Adjust width as needed */
    margin: 3px;
}

.icons-cat .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    border: 2px solid #000; /* Border color */
    border-radius: 10px;
    margin-bottom: 5px;
}

.icons-cat .box i {
    font-size: 24px; /* Adjust icon size as needed */
}

.icons-cat p {
    margin: 0;
    font-size: 14px; /* Adjust text size as needed */
    text-align: center;
}