*{
    padding: 0;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    margin: 0;
}

.content .text{
    margin-top: 60%;
}

.content .input-field{
    margin-bottom: 100%;
}

.error {
    color: red;
    font-size: 0.9em;
}

.input-field button{
    width: 350px;
    height: 50px;
    margin-top: 3%;
    border-radius: 32px;
    background-color: #199A8E;
}

.input-field button:hover{
    background-color: #116159;
}

.input-field input {
    display: block;
    box-sizing: border-box;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 32px;
    width: 350px;
    height: 50px;
    margin-bottom: 5%;
    padding-left: 5%;
}

.text h1{
    font-size: 30px;
    margin-bottom: 15%;
}

.input-field button {
    padding: 10px 20px;
    background-color: #199A8E;
    color: white;
    border: none;
    border-radius: 32px;
    cursor: pointer;
}
.input-field button:hover {
    background-color: #116159;
}

.logo{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 5%;
}

.logo img{
    width: 20px;
    height: auto;
}

